.posts {
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__title {
    width: 45rem;
    margin-left: 15rem;
    margin-bottom: 1.5rem;
  }
}

@media all and (max-width: $breakpoint-small-screen) {
  .posts {
    &__title {
      padding-top: 1rem;
    }
  }
}
