.contact {
  background-color: $color-secondary;
  padding: 1rem;
  border-bottom-left-radius: 300px;
  height: 95vh;
  display: flex;
  flex-direction: column;
}

/* PETIT ECRAN */
@media all and (max-width: $breakpoint-small-screen) {
  .contact {
    width: 92rem;
    height: auto;
    padding: 2rem;
  }
}
