#offersSection {
  padding: 10vh 8rem 0 8rem;
}

.offers {
  background-color: $color-primary-black;
  padding: 3rem;
  border-top-right-radius: 300px;
  height: 68rem;
  &__title {
    color: $color-primary-white;
    padding-bottom: $padding-bottom-title;
  }
  &__content {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 85rem;
    & p {
      font-size: 1.4rem;
      padding-bottom: $padding-bottom-paragraph;
      text-align: justify;
    }
    & .condition-text {
      padding-top: 5rem;
      & p {
        font-size: $condition-text;
      }
    }
    &-left {
      p {
        color: $color-primary-white;
      }
      &__image {
        display: flex;
        justify-content: center;
      }
    }
    &-right {
      padding-left: 6rem;
      & p {
        color: $color-secondary;
      }
      &__image {
        display: flex;
        justify-content: center;
      }
    }
  }
}

/* PETIT ECRAN */
@media all and (max-width: $breakpoint-small-screen) {
  .offers {
    width: 90rem;
    padding-bottom: 4rem;
    &__content {
      padding-right: 1rem;
      & .condition-text {
        padding-top: 0;
        & p {
          font-size: $condition-text;
        }
      }
    }
  }
}

/* SMARTPHONE */
@media all and (max-width: $breakpoint-smartphone) {
  #offersSection {
    padding: 0;
  }
  .offers {
    width: 100%;
    padding: 0;
    border-radius: 0;
    margin: 0;
    height: auto;
    & p {
      font-size: 1.5rem;
    }
    &__title {
      display: none;
    }
    &__content {
      background-color: $color-primary-black;
      width: 100%;
      flex-direction: column;
      padding: 0;
      & .condition-text {
        & p {
          font-size: 1.1rem;
        }
      }
      &-left {
        background-color: $color-primary-black;
        padding: 1rem 2rem;
        p {
          color: $color-secondary;
        }
      }
      &-right {
        background-color: $color-secondary;
        padding: 1rem 2rem;
        p {
          color: $color-primary-black;
        }
      }
    }
  }
}
