#teamSection {
  padding: 0 8rem 0 8rem;
}

.team {
  background-color: $color-primary-white;
  position: relative;
  z-index: 13;
  height: 85vh;
  border-bottom-left-radius: 10rem;
  border-bottom-right-radius: 10rem;
  padding-bottom: 0.5rem;
  &__title {
    line-height: 5rem;
    text-shadow: $regular-shadow;
    width: 50rem;
    position: absolute;
    right: 3rem;
    top: -10rem;
  }
  &__content {
    margin-top: -0.04rem;
    display: flex;
    flex-direction: row;
  }
}

/* PETIT ECRAN */
@media all and (max-width: $breakpoint-small-screen) {
  .team {
    height: auto;
    &__title {
      padding: 0;
      top: -5rem;
    }
    &__content {
      padding-bottom: 5rem;
    }
  }
}

/* SMARTPHONE */
@media all and (max-width: $breakpoint-smartphone) {
  #teamSection {
    background-color: $color-primary-white;
    padding: 1rem 0;
  }
  .team {
    width: 100%;
    position: initial;
    height: auto;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-top: 0;
    padding-bottom: 0.5rem;
    &__title {
      display: none;
    }
    &__content {
      margin-top: -0.04rem;
      flex-direction: column;
    }
  }
}
