.why-container {
  background-color: $color-primary-white;
}

#whySection {
  padding: 4rem 8rem 0 8rem;
}

.why {
  padding: 2rem 4rem;
  position: relative;
  height: 88vh;
  background: $color-secondary;
  z-index: 13;
  border-bottom-left-radius: 10rem;
  border-bottom-right-radius: 3rem;
  &:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 75rem;
    height: 50rem;
    background-color: $color-primary-white;
    right: 2%;
    top: 72%;
    z-index: 11;
  }
  &__title {
    width: 48rem;
    padding-bottom: $padding-bottom-title;
    z-index: 13;
  }
  &__content {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 92rem;
    & p {
      text-align: justify;
      padding-bottom: 1.5em;
      font-weight: bold;
      font-size: 1.4rem;
    }
    &-left {
      & p {
        color: $color-primary-black;
      }
    }
    &-right {
      padding-left: 5em;
      & p {
        color: $color-primary-white;
      }
    }
  }
}

/* PETIT ECRAN */
@media all and (max-width: $breakpoint-small-screen) {
  .why {
    &:before {
      top: 79%;
    }
    &__title {
      padding: 0;
    }
    &__content {
      margin: auto;
      width: 80rem;
      padding-top: 1rem;
    }
  }
}

/* SMARTPHONE */
@media all and (max-width: $breakpoint-smartphone) {
  #whySection {
    padding: 0;
  }
  .why {
    width: 100%;
    padding: 0;
    border-radius: 0;
    margin: 0;
    height: auto;
    &:before {
      display: none;
    }
    & p {
      font-size: 1.5rem;
    }
    &__title {
      display: none;
    }
    &__content {
      padding-top: 7rem;
      width: 100%;
      flex-direction: column;
      &-left {
        padding: 1rem 2rem;
      }
      &-right {
        background-color: $color-primary-black;
        padding: 1rem 2rem;
        p {
          color: $color-secondary;
        }
      }
    }
  }
}
