input,
select,
textarea {
  border-radius: 0.6rem;
  outline: none;
  height: 2rem;
  margin: 0.5rem 0 1.5rem 0;
  padding: 0 0.5rem;
  background-color: rgba($color-secondary, 0.5);
  transition: background-color 0.5s;
  &:focus {
    background-color: $color-secondary;
    transition: background-color 0.2s;
  }
  & option {
    color: $color-primary-black;
    &[disabled] {
      color: rgba($color-text, 0.5);
    }
  }
}
::placeholder,
select:invalid {
  color: rgba($color-text, 0.5);
  font-style: italic;
}
textarea {
  height: 5rem;
  transition: all 0.5s;
  &:focus {
    height: 10rem;
    transition: height 0.5s;
  }
}
