// Color
$color-primary-black: #000000;
$color-primary-white: #ffffff;

$color-secondary: #efd540;

$color-text: #504c4c;

$color-danger: #ee3939ca;
$color-success: #57ee39ca;
$color-edit: #63b2e0;

$background-prim: rgb(247, 247, 247);

// Padding
$padding-bottom-title: 3rem;
$padding-bottom-paragraph: 2rem;

// Shadow
$regular-shadow: #00000029 3px 3px 6px;
$all-shadow: #00000029 1px 6px 6px;

// Line-height
$regular-space: 1.6rem;

// Font Text
$regular-text: 1.3rem;
$condition-text: 0.8rem;

// Breakpoints
$breakpoint-small-screen: 1400px;
$breakpoint-smartphone: 800px;
$breakpoint-small-smartphone: 400px;
