.conclusion {
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  &-card {
    text-align: center;
    margin: auto;
    width: 40rem;
    &__title {
      width: 28rem;
      margin: auto;
      padding-bottom: $padding-bottom-title;
    }
    &__text {
      padding-bottom: 3rem;
      & p {
        font-weight: bold;
      }
    }
    &__button {
      width: fit-content;
      margin: auto;
    }
  }
}

/* PETIT ECRAN */
@media all and (max-width: $breakpoint-small-screen) {
  .conclusion {
    padding-bottom: 1.5rem;
    &-card {
      padding: 1rem;
    }
  }
}

/* SMARTPHONE */
@media all and (max-width: $breakpoint-smartphone) {
  .conclusion {
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 0;
    margin-top: -2rem;
    &-card {
      width: 100%;
      justify-content: center;
      &__title {
        width: 30rem;
        text-align: center;
      }
      &__text {
        text-align: center;
        margin: auto;
        width: 30rem;
      }
    }
  }
}
