#conclusionSection {
  padding: 1rem 0 2rem 0;
}
.conclusion {
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  &-card {
    text-align: center;
    margin: auto;
    width: 40rem;
    &__title {
      width: 28rem;
      margin: auto;
      padding-bottom: $padding-bottom-title;
    }
    &__text {
      padding-bottom: 3rem;
      & p {
        font-weight: bold;
      }
    }
    &__button {
      width: fit-content;
      margin: auto;
    }
  }
}

/* PETIT ECRAN */
@media all and (max-width: $breakpoint-small-screen) {
  .conclusion {
    padding-bottom: 1.5rem;
    &-card {
      padding: 1rem;
    }
  }
}

/* SMARTPHONE */
@media all and (max-width: $breakpoint-smartphone) {
  #conclusionSection {
    padding: 1rem 0;
  }
  .conclusion {
    width: 100vw;
    flex-direction: column;
    padding: 0;
    padding-top: 1rem;
    margin: -2rem auto 0 auto;
    &-card {
      width: 100%;
      margin: auto;
      padding: 0 0 2.5rem 0;
      &__title {
        width: 25rem;
        text-align: center;
        padding: 0;
        padding-bottom: 1rem;
      }
      &__text {
        box-sizing: border-box;
        padding: 1rem;
        width: 100%;
        text-align: center;
        margin: auto;
        & p {
          line-height: 2rem;
        }
      }
    }
  }
}
