#introductionSection {
  padding: 10rem 0 0 0;
}
.introduction {
  text-align: justify;
  &__text {
    font-family: "Nimbus-Light";
    padding: 1rem 0 2rem 0;
    line-height: $regular-space;
  }
  &__buttons {
    max-width: 40rem;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    & .btn {
      margin: auto;
    }
  }
}

#introductionTransition {
  padding: 1rem 5rem 3rem 5rem;
}

/* PETIT ECRAN */
@media all and (max-width: $breakpoint-small-screen) {
  #introductionSection {
    margin-top: -1rem;
  }
  .introduction {
    &__text {
      padding-top: 0.5rem;
    }
  }
}

/* SMARTPHONE */
@media all and (max-width: $breakpoint-smartphone) {
  #introductionIndexSection {
    display: none;
  }
  .introduction {
    display: none;
  }
  #introductionTransition {
    margin-top: 16rem;
    padding: 1rem;
    padding-top: 6rem;
    & p {
      padding-top: 4rem;
    }
  }
}

/* SMALL SMARTPHONE */
@media all and (max-width: $breakpoint-small-smartphone) {
  #introductionTransition {
    margin-top: 20rem;
    padding: 1rem;
    padding-top: 6rem;
  }
}

@media all and (min-height: 700px) {
  #introductionTransition {
    padding-top: 2rem;
    & p {
      padding-top: 4rem;
    }
  }
}
@media all and (min-height: 800px) {
  #introductionTransition {
    padding-top: 1.5rem;
    & p {
      padding-top: 1rem;
    }
  }
}
