.introduction {
  text-align: justify;
  &__text {
    font-family: "Nimbus-Light";
    padding: 1rem 0 2rem 0;
    line-height: $regular-space;
  }
  &__buttons {
    max-width: 40rem;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    & .btn {
      margin: auto;
    }
  }
}
#introductionSection {
  padding: 10rem 0 0 0;
}

/* PETIT ECRAN */
@media all and (max-width: $breakpoint-small-screen) {
  #introductionSection {
    margin-top: -1rem;
  }
  .introduction {
    &__text {
      padding-top: 0.5rem;
    }
  }
}

/* SMARTPHONE */
@media all and (max-width: $breakpoint-smartphone) {
  #introductionSection {
    z-index: 11;
    .section__title {
      z-index: 11;
      width: 32rem;
      padding: 0;
      transform: translate(-50%, 50%);
      top: 26rem;
      left: 50%;
      position: absolute;
      & h2 {
        font-size: 2rem;
      }
    }
  }
  .introduction {
    position: absolute;
    transform: translate(-50%, 50%);
    top: 120px;
    left: 50%;
    margin-top: 110px;
    padding: 0;
    width: 100vw;
    box-sizing: border-box;
    z-index: 11;
    &__text {
      padding: 1.3rem 1rem 0 1rem;
      box-sizing: border-box;
      width: 100vw;
      & p {
        font-size: 1.6rem;
        font-weight: bold;
        color: black;
      }
    }
    &__buttons {
      flex-direction: column;
      & .btn {
        font-size: 1.4rem;
        padding: 1.5rem;
        margin-top: 1rem;
      }
      justify-content: space-between;
    }
  }
  #introductionTransition {
    margin-top: 18rem;
    & p {
      padding-top: 2rem;
    }
  }
}
