.mission {
  &__content {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
  }
  &-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    &__title {
      padding-top: 1rem;
      text-align: justify;
    }
    &__text {
      text-align: justify;
      width: 30rem;
      padding-top: 2rem;
    }
  }
}

/* SMARTPHONE */
@media all and (max-width: $breakpoint-smartphone) {
  .mission {
    &__content {
      flex-direction: column;
    }
    &-card {
      &__title {
        padding-top: 0;
        h3 {
          font-size: 2.1rem;
        }
      }
    }
  }
}

/* SMALL SMARTPHONE */
@media all and (max-width: $breakpoint-small-smartphone) {
  .mission {
    &-card {
      &__image {
        width: 100%;
        & img {
          width: 100%;
          height: 100%;
        }
      }
      &__title {
        width: 25rem;
        text-align: center;
      }
      &__text {
        padding: 2rem;
        box-sizing: border-box;
        width: 28rem;
      }
    }
  }
}
