.strategy {
  width: 100%;
  height: 45rem;
  padding-bottom: 4rem;
  &__content {
    position: relative;
    padding-top: 2rem;
    margin: auto;
    width: 100%;
    height: 100%;
    &-img {
      z-index: 20;
      width: 90rem;
      height: 20rem;
      position: absolute;
      bottom: 60%;
      left: 50%;
      transform: translateX(-50%);
    }
    &-yellow-form {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      clip-path: polygon(0 51%, 100% 14%, 100% 100%, 0% 100%);
      background-color: $color-secondary;
      padding-top: 10rem;
      width: 90rem;
      height: 40rem;
    }
  }
}
