html {
  font-size: 16px;
}

.only-mobile {
  display: none;
}

/* PETIT ECRAN */
@media all and (max-width: $breakpoint-small-screen) {
  html {
    font-size: 65.5%; // 1 rem => 10 px
  }
}

/* SMARTPHONE */
@media all and (max-width: $breakpoint-smartphone) {
  .only-mobile {
    display: initial;
  }
  .computer-only {
    display: none;
  }
}
